@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body{
    background: rgb(134, 127, 127);
}

/* General Styles */
.rocket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #625fe9;
}



.rocket-name{
    grid-column: 2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.rocket img {
    width: 100px;
    grid-column: 2;
    
}
/* Table Styles */
.rocket-details {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rocket-details th,
.rocket-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rocket-details th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/*tabla*/
.rocket-table {
    margin-top: 20px;
    grid-column: 1;
    grid-row: 2;
}

.rocket-table table {
    width: 100%;
    border-collapse: collapse;
}

.rocket-table th, .rocket-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rocket-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/*tabla2*/
.rocket-table1 {
    margin-top: 20px;
    grid-column: 3;
    grid-row: 2;
}

.rocket-table1 table {
    width: 100%;
    border-collapse: collapse;
}

.rocket-table1 th, .rocket-table1 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rocket-table1 th {
    background-color: #f2f2f2;
    font-weight: bold;
}



footer {
    background-color: #333; /* Color de fondo del footer */
    padding: 20px; /* Espaciado interior */
    border-top: 1px solid #555; /* Borde superior */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#moduleLinks {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

#moduleLinks li {
    margin: 0 10px; 
}

#moduleLinks a {
    color: #fff; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
}

#moduleLinks a i {
    margin-right: 5px; 
    font-size: 18px; 
}

main {
    padding: 20px;
}

/* Pagination Styles */
#paginationAll {
    position: fixed;
    bottom: 65px; /* Ajusta la distancia desde la parte inferior */
    right: 5px; /* Ajusta la distancia desde la parte derecha */
    display: flex;
    overflow-x: auto; /* Habilitar scroll horizontal */
    white-space: nowrap; /* Evitar que los botones se envuelvan */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
    padding: 5px; /* Espacio interior alrededor de los botones */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 500px; /* Ancho máximo del contenedor de paginación */
}

#paginationAll .page-number {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px; /* Hacer los botones más pequeños */
    margin: 0 2px; /* Reducir el margen entre botones */
    cursor: pointer;
    border-radius: 5px;
    flex-shrink: 0; /* Evitar que los botones se encogen */
}

#paginationAll .page-number.active {
    background-color: #333;
    color: #fff;
}


