@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
}

body {
    background: linear-gradient(var(--color--one), var(--color--one--rgba));
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid red;
    height: 100vh;
    box-sizing: border-box;
    
}

.seccion1{
    grid-column: 1;
    padding: 30px;

}

.seccion2{
    grid-column: 2;

}

.seccion3{
    grid-column: 3;

}

.container .skill{
    margin: 30px 0;
    row-gap: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;


}

.container .skill .progreso {
    position: relative;
    width: 80%;
    height: 6px;
    background: #fff;
    border-radius: 6px ;
    overflow: hidden;


}

